@charset "UTF-8";

body {
    background-color: #000000;
}

h1 {
    color: whitesmoke;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
}
