@charset "UTF8";

body {
    margin-bottom: 96px;
}

a,
a:visited {
    color: rgb(34, 34, 34);
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border-radius: 8px;
}

.foot {
    text-align: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
