@charset "UTF-8";

body {
    margin-bottom: 96px;
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #222222;
    max-width: 900px;
    margin: 32px auto 32px auto;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px 4px white;
}

h1 {
    color: #00adc1;
}

h2 {
    color: #6f7bf5;
}

h3 {
    color: #6f7bf5;
}

p {
    color: #fff;
    font-size: 1.3rem;
    /* Arial, Verdana e Helvetica são sans serif */
    /* font-size: 16px;*/
    /* Nota: há uma ordem de precedência, no caso acima o navegador primeiro escolhe a Arial, se não tiver a Verdana, senão a Helvetica e por último escolhe uma sans-serif genérica !*/
}

a,
a:visited {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.foot {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.foot p {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
