@charset "UTF-8";

body {
    background-color: #222222;
}

h1 {
    color: #4751C5;
}

h2 {
    color:#00ADC1;
}

h3 {
    color:#00ADC1;
}

p {
    color: #ffffff;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    /* Arial, Verdana e Helvetica são sans serif */
    /* font-size: 16px;*/
    /* Nota: há uma ordem de precedência, no caso acima o navegador primeiro escolhe a Arial, se não tiver a Verdana, senão a Helvetica e por último escolhe uma sans-serif genérica !*/
}

a {
    color:#4e4b4b;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
