@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    color: white;
    text-align: center;
    background-color:green;
}

h2 {
    color: rgb(51, 77, 49);
}

a {
    color:#4e4b4b;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}