@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 96px;
    /* background-image: linear-gradient(to bottom, #f1d8c9, #f2c3a7 20%); */
    background-image: linear-gradient(to bottom, #e9edf2, #2484bf 20%);
    background-attachment: fixed;
}

main {
    background-color: #fff;
    max-width: 900px;
    margin: 32px auto;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 8px 8px 16px 8px rgba(24, 63, 140, 0.6);
    /* sombra para o lado esquerdo, sombra para baixo, transparência da sombra e sombra para os lados e depois a cor da sombra com monocromia e transparência em rgba*/
    width: auto;
}

h1 {
    color: #183f8c;
}

h2 {
    color: #2659bf;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(36, 132, 191, 0.7);
    /* sombra para o lado, sombra para baixo e transparência da sombra, depois a cor da sombra com monocromia e transparência e, rgba*/
}

h3 {
    color: #183f8c;
}

p {
    text-align: justify;
}

a,
a:visited {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.foot {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.foot p {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
